@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Client


@if(Employees.Employee == 1){
<h1> Add a new client </h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type = "submit" value="Add a new client" class="btn btn-success" />
} 
}
<p>@Html.ActionLink("Show all clients", "Index")</p>
<p>@Html.ActionLink("Back to Client list", "Index")</p>